[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
google-api-python-client = "*"
yfinance = "*"
lxml = "*"
python-youtube = "*"
alpha-vantage = "*"
nltk = "*"
pyyaml = "*"
requests = "*"
httpx = "*"
youtube-search-python = "*"
cssselect = "*"
gspread = "*"

[dev-packages]

[requires]
python_version = "3.8"
